
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:white;
    background-image:linear-gradient(top, #A7A7A7 0%, white 51%);
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size:12px;
    height:100vh;
    margin:0px;
    padding:0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-right, 0px);
    width:100%;
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.menu_bar{
    display: none;
    z-index: 1000;
}

header{
    width: 100%;
}

header nav {
    background: white;
    z-index: 1000;
    max-width: 1000px;
    width: 95%;
    margin: 20px auto;
}

header nav ul{
    list-style: none;
}

header nav ul li {
    display: inline-block;
    position: relative;
}

header nav ul li:hover {
    background: #E4E4E4 ; 
}

header nav ul li a {
    color: black;
    display: block;
    padding: 10px;
}

/* Landscape layout (with min-width) */
@media screen and (max-width: 1025px)  {

    body{
        padding-top: 70px;
    }
    
    .menu_bar{
    display: block;
    width: 100%;
    top: 0;
    background: #fff;
    box-shadow: 2px 2px 2px #888;
    position: fixed;
    
}

    .menu_bar .bt-menu{
    display: block;
    padding: 20px;
    overflow: hidden;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
    .menu_bar .icon{
    float: left;
    text-align: center;
    margin: 10px;  
        
    }
    .icon2{
        float: right;
        font-size: 40px;
    }
    .icon2:hover{
        background: #E4E4E4;
    }
    
    header nav {
        width: 85%;
        position: fixed;
        right: -100%;
        margin: 0;
        box-shadow: 2px 2px 100px #666;
        height: 100%;
        overflow: scroll;
        font-size: 20px;
        font-family: cursive, 'Roboto';
        top: 0;
        
    }
    .menu_bar span{
        float: right;
        width: 20px;
        height: 20px;
        
    }
    header nav ul li {
        display: block;
        float: none;
    }
    
    header nav ul li:hover {
    background: #E4E4E4 ; 
}
    
    header nav ul li a:link{
        text-decoration: none;
        transition: all 0.4s linear;
        border-radius: 5px;
    }
    
    .btns{
        text-align: center;
        box-shadow:  2px -4px 2px #888; 
        
        
    }
     .btn-center{
        text-align: center;
        margin-left: 20px;
        margin-right: 20px;
    }
    .btn-margin{
        margin-top: 5px;
    }
    .pos{
        bottom: 0;
        margin-top: 40px;
    }
 
    .btn-align{
        text-align: center;
    
    }
    button a {
        text-decoration: none;
        color: white;
        font-size: 1.1em;
    }
    
    .btn-menu{        
        text-align: center;
        width: 170px;
        height: 170px;
        margin: 5px;
        border-radius: 10px 10px 10px 10px;
        -moz-border-radius: 10px 10px 10px 10px;
        -webkit-border-radius: 10px 10px 10px 10px;
        border: 0px solid #000000;
    }
    .btn-color1{
        background-color: #09BDE6;   
    }
    
    .btn-color2{
        background-color: #08A8CC;   
    }
    
    .btn-color3{
        background-color: #0793B3;   
    }
    
    .btn-color4{
        background-color: #067E99;   
    }
    
    .btn-color5{
        background-color: #044A59;   
    }
    
    .btn-color6{
        background-color: #033540;   
    }
    
    .color1{
        background: #3D9970;
    }
    
    .color2{
        background: #FF851B;
    }
    .color3{
        background: #09bde4;
    }
    .color4{
        background: #75655F;
    }
    
  
    
    
}

